<!DOCTYPE html>
<!-- isto é um comentario -->
    <head>
    <title> Programação Web </title>

 <!-- a parte link faz a conecção com a imagem do navegador esse icone vai ficar na parte do site-->
    <link rel="icon" href="/IMAGEM/truck-fast-solid (1).svg">
    
    </head>

<!-- isto é um corpo body -->

    <body>
        <!-- utilizado para escrever P vem de paragrafo. o h1 é utilizado para titulos. a abre uma pagina -->
        <h1> Amanda </h1>
        <p> <span style="color: rgb(240, 30, 114);"> Programação para internet </span> </p>

<!-- target="_blank é utilizado para abrir uma nova guia"-->
        
        <a href="https://www.google.com/" target="_blank">Link Google</a>

<!-- utilizado para realizar formatação espeficica dentro da pagina-->
        <br> <!-- o br é para quebra de linha-->
        <hr> <!-- coloca uma linha-->

        <span>Mudança</span>
 
    </body>
</html>